@model IEnumerable<ECommerceApp.Models.ShoppingCart>

@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Shopping Cart</h2>
<br />
@Html.Raw(ViewBag.Pesan)
<div class="container">
    <div class="row">
        <div>
            <table class="table table-bordered">
                <tr>
                    @*<th>
                    @Html.DisplayNameFor(model => model.CartID)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Book.CoverImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Book.Price)
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th></th>
                </tr>
                @{decimal gtotal = 0;}
                @foreach (var item in Model)
                {
                    var price = string.Format("{0:N0}", item.Book.Price);
                    var subtotal = item.Quantity * item.Book.Price;
                    gtotal += subtotal;
                    <tr>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.CartID)
                    </td>*@
                        <td>
                            <img height="250" width="150" src="~/Content/Image/@item.Book.CoverImage" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Book.Title)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td class="text-right">
                            Rp. &nbsp; @price
                        </td>
                        <td class="text-right">
                            Rp. &nbsp; @string.Format("{0:N0}", subtotal)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RecordID })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br /><br />
        <div class="col-md-8">
            <table>
                <tr>
                    @Html.ActionLink("Tambah Belanjaan", "Index", "Books")
                </tr>
                <tr>
                    &nbsp; &nbsp; &nbsp;
                </tr>
                <tr>
                    @Html.ActionLink("Check Out", "Checkout", "ShoppingCarts")
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <p class="text-right">
                <strong>
                    Grand total: Rp. &nbsp; @string.Format("{0:N0}", gtotal)
                </strong>
            </p>
        </div>
    </div>
</div>

